.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 45px 72px;
    background: var(--bg-color);
  }
  
  .feature-card {
    text-align: center;
    padding: 0;
  }
  
  .feature-card img {
    /*width: 64px;
    height: 64px;*/
    margin-bottom: 1rem;
  }