.gallery_title {

}

.photo-gallery {
    padding-bottom: 50px;
  }
  
 /* .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .gallery-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 9px;
  }

*/

  .gallery-swiper {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.gallery-swiper .swiper-wrapper {
    display: flex;
}

.gallery-swiper .swiper-slide {
    width: 300px !important;
    height: auto;
}

.gallery-swiper .swiper-slide img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 9px;
}

.gallery-swiper .swiper-button-prev, 
.gallery-swiper .swiper-button-next {
    color: #037E8C;
}
